# Ignore environment variables
.env

# Ignore everything in data but keep .gitkeep files
/data/*
!/data/.gitkeep
!/data/raw/.gitkeep

# Ignore Jupyter checkpoints and Python cache
.ipynb_checkpoints/
__pycache__/
!/data/processed/
!/data/processed/**
!/data/raw/
!/data/raw/**

# local backups
project/app.backup*
